body {
  padding: 50px;
}
.box span {
  display: block;
  text-align: center;
  margin-top: 90px;
}


.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  background-color:aqua;
   transition-duration: 1.5s; 
   transition-duration - 
  * transition-property: all; 
  *                   all - 
                       width; 
   transition-delay: 0.1s; 
   transition-delay: 0.1s; 
   transition-timing-function: cubic-bezier(); */
  *  transition-timing-function: */
  *                          linear - 
                              ease -
                              ease-in - 
                              ease-in-out

                              ease-out - 

                              cubic-bezier() - 

 transition: all 2s 0.1s ease; 

 property - deration - delay - timing-function 

                             
}


 .box:hover {
  background-color: red;
  width: 400px;
  margin: 300px;
} */

.box:active {
  * background-color: red;
  width: 400px; */
  margin-left: 300px;
}